---
layout: home
title: Home
---

<p>
  I'm Jordan, a Software Engineer. Originally from the <strong>UK</strong> but currently based in <strong>Brooklyn, New York</strong>.
</p>

<p>
  I have a keen interest in the following topics:
</p>

<ul>
  <li>Android</li>
  <li>Kotlin</li>
  <li>Gradle</li>
  <li>Developer Experience</li>
</ul>

<h3>Posts</h3>

{% assign posts = paginator.posts %}

{%- if posts.size > 0 -%}
{%- if page.list_title -%}
<h2 class="post-list-heading">{{ page.list_title }}</h2>
{%- endif -%}
<ul class="post-list">
  {%- for post in posts -%}
  <li style="display:flex;flex-direction:row;column-gap:0.5rem">
    <a style="flex:1" class="post-link" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
    <span class="post-meta">{{ post.date | date: "%a %d %B %y" }}</span>
  </li>
  {%- endfor -%}
</ul>

{%- endif -%}


<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix" style="display:flex;flex-direction:row;column-gap:0.5rem">

  {% if paginator.previous_page %}
  <a style="flex:1" class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    <span class="d-none d-md-inline">Newer</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="d-none d-md-inline">Older</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}

