---
layout: home
title: Home
---

<p>
  Hello, my name is Jordan, a Software Engineer based in <strong>Brooklyn, New York</strong>.
</p>


<br/>

{% assign posts = paginator.posts %}

{%- if posts.size > 0 -%}
{%- if page.list_title -%}
<h2 class="post-list-heading">{{ page.list_title }}</h2>
{%- endif -%}
<ul class="post-list">
  {%- for post in posts -%}
  <li>
    <span class="post-meta"><strong>{{ post.date | date: "%d-%m-%Y" }}</strong></span> -
    <a class="post-link" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
  </li>
  {%- endfor -%}
</ul>

{%- endif -%}


<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    <span class="d-none d-md-inline">Newer</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="d-none d-md-inline">Older</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}

