---
layout: base
---

<div class="tag-archive">
  <header class="tag-header">
    <h1 class="tag-title">Posts tagged "{{ page.tag }}"</h1>
  </header>

  <div class="post-list">
    {%- assign posts = site.tags[page.tag] | sort: 'date' | reverse -%}
    {%- if posts.size > 0 -%}
      <ul class="post-list">
        {%- for post in posts -%}
          {% include components/post-list-item.html post=post %}
        {%- endfor -%}
      </ul>
    {%- else -%}
      <p>No posts with this tag yet.</p>
    {%- endif -%}
  </div>
</div>
